@model List<Funemployment.Models.TechnicalQuestion>
<h1>Technical Questions</h1>
@foreach (var item in Model)
{
    <h2>
        <a asp-controller="Technical" asp-action="GetOneTQ" asp-route-id="@item.ID">@item.ProblemDomain</a>
    </h2>
    <h2>Difficulty: @item.Difficulty</h2>
}
