@model List<Funemployment.Models.TechnicalQuestion>

<head>
	<link type="text/css" href="~/styles/questions.css" rel="stylesheet" />
</head>
<body>
	<main>
		<header>
			<h2><a id="nav_profile" asp-controller="Home" asp-action="BackToProfile">To Profile</a></h2>
			<h2 id="site_logo"><span id="blue_letter">F</span>unemployment</h2>
		</header>

		<h2 class="questions_header"><span class="questions_bold">Technical</span> Questions</h2>

		@foreach (var item in Model)
		{
			<h2 class="questions_list">
				<a asp-controller="Technical" asp-action="GetOneTQ" asp-route-id="@item.ID">@item.ProblemDomain</a> 
			</h2>
			<p id="questions_difficulty">Difficulty: @item.Difficulty</p>
			<hr />
		}
	</main>
</body>
