@model Funemployment.Models.Player

<head>
</head>
<body>
  <header>
    <h1>Funemployment</h1>
    <h2>Beating your friends is a full-time job.</h2>
    <hr />
    <p>Contribute to the community, hone your skills, get points, win.</p>
    <p>Then have a sandwich. You earned it.</p>
  </header>
  <form method="post" asp-controller="Home" form-action="Index">
    <div class="form-group">
      <label asp-for="Username">Enter a username to begin</label>
      <input asp-for="Username" />
      <br />
      <br />
      <button type="submit">Start</button>
    </div>
  </form>
</body>

