@model Funemployment.Models.Player
<head>
	<link type="text/css" href="~/styles/landing.css" rel="stylesheet" />
</head>
<body id="landing_body">
	<main id="landing_main">
		<header id="landing_header">
			<img id="landing_jackalope" src="~/images/jackalope_color.svg" alt="Jackalope" />
			<h1 id="landing_title"><span id="blue_letter">F</span>unemployment</h1>
			<h2 id="landing_subtitle">Beating your friends is a full-time job.</h2>
			<hr id="landing_hr" />
			<p class="landing_caption">Contribute to the community, hone your skills, get points, win.</p>
			<p class="landing_caption">Then have a sandwich. You earned it.</p>
		<form method="post" asp-controller="Home" form-action="Index">
			<div class="form-group">
				<label id="landing_label" asp-for="Username">Enter a username to begin</label>
				<input id="landing_input" placeholder="username" asp-for="Username" />
				<button id="main_button" type="submit">Let's Go	</button>
			</div>
		</form>
		</header>
	</main>
</body>

