#jackalope_main 
{
	width: 12rem;
	margin-top: 2rem;
}

#main_title 
{
	font-size: 7vw;
	margin-top: 0;
	color: rgb(255, 112, 112);
}

#main_subtitle 
{
	margin-top: 0;
	font-weight: 300;
	font-size: 2vw;
	text-transform: uppercase;
	font-style: italic;
}

#main_white 
{
	height: 20vh;
	width: 100%;
	position: absolute;
	top: 0;
	background: rgb(255, 255, 255);
	z-index: -2;
}

#blue_letter 
{
	color: rgb(0, 148, 255);
}

#main_label 
{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(0, 148, 255);
}

#main_input {
	margin: 1rem auto;
	display: block;
	border: none;
	width: 70vw;
	height: 10vh;
	box-shadow: 0 0 .325rem .025rem rgba(0, 0, 0, .125);
}