@model Funemployment.Models.Player

This is the Profile View

<h1>Profile</h1>
<h2>@Model.Username</h2>
<ul>
    <li>Location: @Model.Location</li> 
    <li>About: @Model.About</li>
    <li>Points: @Model.Points</li>
</ul>