@model List<Funemployment.Models.BehaviorQuestion>

<a asp-controller="Home" asp-action="BackToProfile">To Profile</a>


<h1>Behavior Questions</h1>

@foreach (var item in Model)
{
    <h2>
        <a asp-controller="Behavioral" asp-action="GetOneBQ" asp-route-id="@item.ID">@item.Content</a>
    </h2>
}