@model List<Funemployment.Models.BehaviorQuestion>
<h1>Behavior Questions</h1>

@foreach (var item in Model)
{
    <h2>@item.Content</h2>
    <p><a asp-controller="Behavioral" asp-action="GetOneBQ" asp-route-id="@item.ID">View More</a></p>
}